extends layout

block content

  .row.mt-5.mb-3
    .col-sm-6.fs-text-left
      .h5
        |Company:  #[strong #{company} ]
    .col-sm-6.fs-text-right
      .h5
        |Date:  #[strong #{today} ]

  //- .row.mt-3
  //-   .col-sm-12.fs-text-left
  //-     .h5.mb-5
  //-       |VAT No:  #[strong #{vatNo} ]

  .container-fluid

    table#history.table.table-striped.table-bordered.table-hover.mt-5.display(style="width:100%")

      thead
        tr.fs-text-powder-blue
            th.text-center Open
            th.text-center ID
            th.text-start Photo Name
            th.text-start Photo Location
            th.text-center Access Date
            th.text-center Access Time

        tbody
          each n, i in output
            tr
              td.text-center
                a(href="formaserve.co.uk") Open Photo
                
              td.text-center #{n.ID}
              td.text-start #{n.PHOTONAME}
              td.text-start #{n.PHOTOLOCATION}
              //- td.text-center #{moment(n.ADD_TS).format('Do MMM YYYY')}
              td.text-center #{moment(n.ADD_TS.substr(0, 10)).format('Do MMM YYYY')}
              td.text-center #{n.ADD_TS.substr(11, 5)}

    //- .row
    //-   .alert.alert-info.mt-5
    //-     span.material-icons info
    //-     strong &nbsp;Information
    //-     hr
    //-     .container-fluid
    //-       p.fs-banner-text Please be aware, all the details shown here are stored on your IBM server, this is your record of payment.
    //-       p.fs-banner-text This information is not retrieved from HMRC.

    script(src='https://code.jquery.com/jquery-3.5.1.js')

    script.
      $(document).ready(function() {

        $('#history').DataTable({
          "order": [],
          lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, "All"]
          ]
        });

      });
